header{
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

header.scroll__active {background-color: rgba(255, 255, 255, 0.5);}

nav {
  padding: 0 88px; 
  max-width: 1920px; 
  margin: 0 auto;
}
#section1 { margin-top: 60px;}

section {
  width: 100%;
  margin: 150px auto; 
  padding: 0 88px;
  max-width: 1920px;
}

nav, .gnb, .user__menu{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__right {
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

input[type="search"] {
  color:var(--color-main-black);
}

.gnb {
  display: flex;
  justify-content: space-between;
}
.mobile_menu, .mobile_header, .hamburger {display: none;}
.gnb a {
  display: block;
  font-weight: var(--weight-light);
  font-size: var(--font-small);
}

.user__menu li a, .gnb li a{display: block;}
.gnb li a {padding: 20px;}
.user__menu li a{padding: 0 10px;}
.user__menu li a img{width: 23px;}

.search_wrap{
  height: 30px; width: 0%;
  overflow: hidden;
  border-bottom: 1px solid #343434;
  transition: all 400ms;
  position: absolute;
  right: 100%;
  z-index: 1;
}

.search_wrap.active {
  width: 100%;
}

input[type="search"]{
  line-height: 30px;
  padding: 0 10px;
}

input[type="search"]::placeholder {
  color: #7a7a7a;
  font-size: var(--font-regular);
}

.main-slide {
  width: 100%;
  min-height: 300px;
  padding-bottom: 45%;
  background: url("../imgs/main-slide.jpg") center/cover no-repeat;
}

.slide__desc {width: 100%; height: auto; 
  display: flex; flex-direction:column;
  justify-content: center; align-items: center;
  margin: 30px auto;
  cursor: default;
}
.main-slide .slide__desc{padding: 26px 0 0 26px;}

.slide__desc span,
.slide__desc a {display: block; margin: 5px 0;}
.slide__title {
  font-size: var(--font-title);
  font-weight: var(--weight-heavy);
}

.slide__subtitle {
  font-size: var(--font-medium);
  font-weight: var(--weight-light);
  padding-bottom: 20px;
  text-align: center;
  color: var(--color-main-black);
}

.link__btn {
  width: fit-content;
  padding: 10px 24px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: var(--color-main-black);
}

.comming-notice > a {background-color: #fff; color: #000;}

.activeBtn {
  background: rgb(65, 65, 65);
  box-shadow: 0 0 0 0 rgba(65, 65, 65, 1);
  animation: click-me-pulse 1s infinite;
}

@keyframes click-me-pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(65, 65, 65, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(65, 65, 65, 0);}
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(65, 65, 65, 0); }
}


/* Choose your icon section */
#section2 {padding: 50px 88px;}

.choose_your_icon_title {
  display: flex;
  width: 100%;
  align-items:center;
  justify-content: space-between;
  margin: 0 auto;
  cursor: default;
}

.choose__wrap {
  width: 100%;
  height: 100%;
}
.choose__wrap > ul {
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}

.choose__wrap > ul > li {
  width: 100%;
  overflow: hidden;
  margin: .5%;
}
.choose__wrap > ul > li:last-child{
  margin-right: 0%;
}

.choose__wrap > ul > li > a img {
  width: 100%;
  min-width: 130px;
  height: 100%;
  max-height: 380px;
}

.choose__wrap > ul > li > a > h6 {
  font-weight: var(--weight-regular);
  font-size: var(--font-regular);
}

/* ------------- New arrival section3 */
#section3 {height: 100%; position: relative;}
.new-title {
  width: 100%;
  margin: 0 auto;
  display: flex; 
  justify-content: space-between;
}

.swiper-button-next, 
.swiper-button-prev 
{color: var(--color-main-black);}

.new-control {
  width: 80px; height: 30px;
  position: absolute;
  top: 0; right: 88px;
}

.new-next { 
  right: 0; justify-content: flex-end;
}
.new-prev { 
  left: 0;
  justify-content: flex-start;
}
.new-next::after, .new-prev::after {
  font-size: 20px;
  color: #000;
}
.new-pager {
  bottom: 50%;
  transform: translateY(50%);
}

.new-container{
  width: 100%;
  padding-bottom: 34%;
  overflow: hidden;
}

.new-container ul {
  position: absolute;
  top: 0; left: 0;
  width: 200%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  transition: left 800ms linear;
}

.new-container ul > li {
  display: inline-flex;
  align-items: flex-start;
  width: 48%;
  overflow:hidden;
  margin-right: 0.5%;
  transition: all 300ms linear;
}

.new-container ul >li > div{
  margin-right: 1%; height: 100%; 
  width:fit-content; 
}

.new-container ul >li > div img {width: 100%;}

.new-container ul >li:nth-child(1){
  background: url("../imgs/new-arrival1.jpg") center/cover no-repeat;
}
.new-container ul >li:nth-child(2){
  background: url("../imgs/new-arrival2.jpg") center/cover no-repeat;
}
.new-container ul >li:nth-child(3){
  background: url("../imgs/new-arrival3.jpg") center/cover no-repeat;
}
.new-container ul >li:nth-child(4){
  background: url("../imgs/new-arrival4.jpg") center/cover no-repeat;
}

.slider > li > .desc {
  margin-top: 50px;
  margin-left: 50px;
  height: 90%;
  cursor: default;
}

.desc > h5 {
  font-size: var(--font-sub-title);
  font-weight: var(--weight-extrabold);
}
.slider > li .desc p:nth-child(2) {
  font-size: var(--font-regular);
  font-weight: var(--wegith-medium);
}

.slider > li .desc p:nth-child(3) {
  width: fit-content;
  padding: 8px 20px;
  margin: 30px 0;
  color: #fff;
  background-color: var(--color-main-black);
  border-radius: 5px;
  cursor: pointer;
}

/* 꼼데가르송 comming soon  */
#section4 {
  padding-bottom:34%; position: relative;
  background: url("../imgs/COMING_SOON.jpg") center/cover no-repeat;
}

#section4::before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}

#section4 .coming-notice{ 
  width: 100%; height: 100%; 
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 54%; left: 50%; 
  z-index: 3;
  transform: translate(-50%, -50%);
  color: #fff;
}

.coming-notice h3 {font-size: 40px;}
.coming-notice p {
  font-size: var(--font-sub-title);
  font-weight: var(--weight-extrabold);
}

.coming-notice > span {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin-bottom: 20px;
}

.coming__btn {
  width: fit-content;
  padding: 10px 24px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  margin: 22px;
}

/* 유니크 스타일 디자인 컬렉션 */
#section5 {
  height: fit-content;
  padding-bottom: 20px;
}

#section5 .unique-img{
  padding-bottom: 35%;
  width: 100%;
  background: url("../imgs/unique-design-coll.jpg") center/cover no-repeat;
}

.renew-wrap > ul {
  display: inline-flex;
}
.renew-wrap > ul > li {margin: 0 5px;}
.renew-wrap > ul > li > img {width: 100%; height: 100%;}
.renew-wrap > ul > li:nth-child(n+1){flex: 1;}
.renew-wrap > ul > li:last-child{flex: 2;}

#section7 {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 30%;
  background: url("../imgs/converse-slam-jam.jpg") center/cover no-repeat;
}
#section7 .slam__desc {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; height: 100%;
  display: flex; align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

#section7 .slam__desc p.slide__subtitle {
  font-weight: var(--weight-light);
  margin: 8px;
  color: #fff;
}

.community-wrap li {width: 26%;}
.community-wrap li img {width: 100%;}
.community-wrap li p {font-size: var(--font-small);}


/* footer */
footer {width: 100%;}
.upperFoot .container, 
.lowerFoot .container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 88px;
} 

footer > .upperFoot > .container {
  width: 80%; margin: 0 auto;
}

footer > .upperFoot {padding: 30px 0;}
footer .lowerFoot {
  background-color: #1A1A1A;
  padding: 20px 0;
  color: #CCCCCC;
  font-size: var(--font-extrasmall);
}

.foot_menu >ul > li > a{ 
  font-weight: var(--weight-light);
  font-size: var(--font-extrasmall);
}
footer .lowerFoot {
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
}
footer .lowerFoot div.company_info {width: 60%;}
footer .lowerFoot p.customer_insure{width: 30%;}
